body{
    background-color: brown;
    font-weight: bold;
    color: blue;

}
h1{
    color: blueviolet;
    font-size: large;
    font-weight: bold;
}
p{
    background-color: black;
    color: bisque;
    font-size: large;
}
